// style to hello.vue

.selected-board {
    & .icon {
        width: 45px;
        height: 45px;
        background-color: $blue;
        padding: 11px;
        margin-top: 3px;
        border-radius: 3px;
        box-shadow: 2px 4px 10px 2px rgba(50, 50, 50, 0.1), 0 3px 10px 0 rgba(50, 50, 50, 0.1);

        & i {
            color: #fff;
        }
    }

    & .name {
        margin-left: 20px;

        & h1 {
            margin-bottom: 0px;
            font-size: 1.4rem;
        }

        & p {
            margin-bottom: 0px;
            color: $dark-gray;
            font-size: 0.9rem;
        }
    }

    & .board-visibility {
        margin-left: 20px;
        margin-top:4px;
        color: $dark-gray;

        & i {
            display: block;
            float: left;
            margin-right: 7px;
        }

        & i, & span {
            cursor: pointer;
        }
    }
}

.board-container {
    margin: auto;
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;

    & .board {
        height: 400px;
        width: 250px;
        padding-left: 8px;
        padding-right: 8px;
        background-color: $white;
        border-radius: 3px;
        box-shadow: 2px 4px 10px 2px rgba(180, 180, 180, 0.1), 0 3px 10px 0 rgba(80, 80, 80, 0.1);

        & .board-name {
            padding-top: 32px;
            padding-bottom: 32px;

            & h4 {
                margin-bottom: 0px;
                display: inline-block;
                padding-left: 18px;
                position: relative;

                &::before {
                    content: '';
                    width: 9px;
                    height: 9px;
                    border-radius: 50%;
                    position: absolute;
                    border: 2px solid #4680FF;
                    left: 0;
                    top: 10px;
                }
            }

            & .dots {
                float: right;
                color: $medium-gray;
                cursor: pointer;
            }
        }

        & .board-item {
            border: 1px solid $light-gray;
            margin-bottom: 16px;

            .name {
                padding: 8px;
                
                & p {
                    font-size: 0.9rem;
                }
            }
        }
    }
}